loguru
async-lru
alembic
aiosqlite
sqlalchemy[asyncio]
injector
git+https://github.com/yupix/MiPA.git@develop
git+https://github.com/yupix/MiPAC.git@develop
mipac
redis
fastapi
uvicorn
jinja2
fastapi-injector
